/* Custom Stuff */

.key_command  {
  display: inline-block;
  width:105px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.key_return  {
  display: inline-block;
  width:65px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.key_control  {
  display: inline-block;
  width:65px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.key_option  {
  display: inline-block;
  width:65px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.key_space  {
  display: inline-block;
  width:155px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align:center;
}

.key_normal {
  display: inline-block;
  width:40px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.key_function {
  display: inline-block;
  width:40px;
  height:40px;
  margin:0 10px 0 0;
  overflow:hidden;
  padding:10px;
  background-color:#C8C8C8;
  border:1px solid #afcde3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#post img{
  width:100%;
  height:auto;
}

.twitter-tweet {
  text-align:center;
  display:inline-block;
  align-content:center;
}

.configfile {
  background-color:#eee;
}

#post_title {
  text-align: center;
  font-size: 3em;
}
#post_subtitle {
  color: #a00;
  text-align:center;
}

body { 
  padding-top: 50px;
  padding-bottom: 150px;
}
