---
layout: default
title: David Askew
---

<div id="home" class="col-xs-12"/> 
  <h1 class="text-center">Blog Posts</h1>
  <div id="current" class="col-xs-6"> 
  
  <h4>Newer</h4> 
  <ul class="posts list-unstyled">
    {% for post in site.posts %}
      {% assign y = post.date | date: "%Y" %}
      {% case y %}
        {% when '2015' %}
          <li><span>{{ post.date | date: "%Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endcase %} 
    {% endfor %}
  </ul>
  </div>
  <div id="older" class="col-xs-6">
  <h4>Older</h4> 
    <ul class="posts list-unstyled">
      {% for post in site.posts %}
        {% assign y = post.date | date: "%Y" %}
        {% case y %}
          {% when '2014' %}
            <li><span>{{ post.date | date: "%Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endcase %} 
      {% endfor %}
    </ul> 
  </div>
</div>
