<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="container">
    <div class="site">
      
      <div class="row">
        <div class="col-xs-4 text-center">
          <div>
            <h1>Info</h1>
            <img src="/images/headshot1.png" class="img-responsive img-rounded center-block">
            <p></p>
            <p><h4>Hi, I'm David H. Askew</h4></p>
            <p><h4>I build things</h4></p>
            <p><a class="extra" href="/">Homepage</a></p>
            <p><a class="extra" href="/contact.html">Contact Me</a></p>
            <!-- <p><a href="/about.html">About</a></p> -->
          </div>
          
          <div class="info">
      
            <div class="contact fa-3x">
              <a href="http://github.com/dhaskew/">
                <i class="fa fa-github"></i>
              </a>
              <a href="http://twitter.com/davidaskew/">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/davidaskew">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
      
            <div class="rss">
              <a href="http://www.aske.ws/feed.xml">
                <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
              </a>
            </div>
          
            {% include open_source.html %}
          
          </div>
        </div>
        
        <div class="col-xs-8">
          {{ content }}
        </div>
      </div>
      
      
    </div>
  </div>

  {% include google_analytics.html %}
	
</body>

</html>
